language: python
python:
  - "3.6"
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script:
  - python -m unittest tests/test_linter.py tests/test_flask.py
