<!DOCTYPE HTML>
<html>

<head>
    <!-- Meta Data -->
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <meta name="description" content="Online Python Editor With Live Syntax Checking">
    <meta name="keywords" content="Lint,Online,Editor,Python,Syntax-Checking">
    <meta name="author" content="Ethan Chiu">
    <title>PythonBuddy</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <!-- Scripts -->
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <script src="/static/codemirror/lib/python.js"></script>
    <script src="/static/codemirror/lib/lint.js"></script>
    <script src="/static/js/cm-validator-remote.js" type="text/javascript"></script>
    <!--Codemirror Addons-->
    <script src="/static/codemirror/addon/search.js"></script>
    <script src="/static/codemirror/addon/searchcursor.js"></script>
    <script src="/static/codemirror/addon/dialog.js"></script>
    <!-- Socket IO -->
    <script src="/static/js/socket.io/2.1.1/socket.io.js"></script>
    <!-- Require.js -->
    <script src="/static/js/require.js/2.3.5/require.min.js"></script>
    <!--Style -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/codemirror/lib/lint.css">
    <link rel="stylesheet" href="/static/codemirror/addon/dialog.css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <a href="https://github.com/ethanchewy/PythonBuddy"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="text-center" id="info">
        <h1>Python Linter Online</h1> <i>Live Syntax Checking Using Pylint while Running Python </i>
        <p> Examples: <a href="#" id="codeexample1">1</a> <a href="#" id="codeexample2">2</a> <a href="#" id="codeexample3">3</a> <a href="#" id="codeexample4">4</a> <a href="#" id="codeexample5">5</a> <a href="#" id="codeexample6">6</a> <a href="#" id="codeexample7">7</a> </p>
    </div>
    <br>
    <div class="container">
        <textarea id="txt">
def foo(bar, baz):
    pass
foo(42)
        </textarea>
        <br>
        <button type="button" id="run" class="btn btn-success">Run</button>
        <br>
        <br>
        <div id="output"> <pre></pre> </div>
        <br>
        <div id="append_text">
            <h2>Pylint Output Info</h2>
            <table id="errorslist" class="table" style="display: inline-block;">
                <tr>
                    <th>Line</th>
                    <th>Severity</th>
                    <th>Error</th>
                    <th>Tips</th>
                    <th>Error Code</th>
                    <th>Error Info</th>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <footer>Created by <a href="https://github.com/ethanchewy">Ethan Chiu</a></footer>
</body>
<script src="/static/js/javascript.js" type="text/javascript"></script>

</html>
